body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #ffffff;
  color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/*========Top Line=======*/

.page-header {
  border-bottom: 1px solid #e7e9fc;
  background-color: #fff;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  padding-top: 13px;
  padding-bottom: 16px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-header-part {
  color: #2e2f42;
}

@media only screen and (max-width: 767px) {
  .header-nav-list,
  .header-address {
    display: none;
  }
}

.open-menu-btn {
  border: none;
  fill: #2f2f37;
  line-height: 0;
  background-color: transparent;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .open-menu-btn {
    display: none;
  }
}
